mixin info-block(options)
    div(class=attributes.class)
        div(class=attributes.class+"__header")
            img(src=options.imgsrc, class=attributes.class+"__img")
            h1(class=attributes.class+"__title")=options.title
            span(class=attributes.class+"__line")
        block